@font-face {
    font-family: 'iconfont';  /* project id 912243 */
    src: url('//at.alicdn.com/t/font_912243_c2li4vt43rb.eot');
    src: url('//at.alicdn.com/t/font_912243_c2li4vt43rb.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_912243_c2li4vt43rb.woff') format('woff'),
    url('//at.alicdn.com/t/font_912243_c2li4vt43rb.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_912243_c2li4vt43rb.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.footer-nav-home:before {
    content: "\e628";
}
